
.feed-container{
  font-size: 14px;
  display: flex;
  text-align: center;
  margin: 50px auto;
  flex-flow: column wrap;
  width: 70%;

}

.day-group{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.day-title{
  padding: 10px;
  text-align: left;
  font-size: large;
  font-weight: 400;
  flex-basis: 100%;
  padding: 5px;
}

.feed-item{
  height: 10%;  
  padding: 10px;
}
.custom-hl{
  font-size: smaller;
  font-style: italic;
}


.genres-hl{
  color:  #8f42ce;
}

.artists-hl{
  color: rgb(206, 142, 23);
}

.location-hl{
  color: #121212;
  font-weight: 800;
}

.free {
  color: red;
}

.thisWeek {
  text-align: left;
  font-size: large;
  font-weight: 200;
  font-style: italic;
  font-family: cursive;
}