
.feedContainer{
  font-size: 16px;
  display: flex;
  text-align: center;
  margin: 50px auto;
  flex-flow: column wrap;
  width: 70%;

}

.day-group{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.day-title{
  padding: 10px;
  text-align: left;
  font-size: x-large;
  font-weight: 200;
  flex-basis: 100%;
  padding: 5px;
}

.feed-item{
  height: 10%;  
  padding: 10px;
}

.partyName{
  font-size: x-large;
  
}
.custom-hl{
  font-size: small;
  font-style: italic;
}


.genres-hl{
  color:  #8f42ce;
}

.artists-hl{
  color: rgb(193, 127, 3);
}

.location-hl{
  color: #121212;
  font-weight: 800;
}

.free {
  color: red;
}

.genreFilters{
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  width: 50%;
  justify-content: space-evenly;
}
.genreFilters button{
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin: 5px;
}

.genreFilters button.active {
  color: #fff;
  background-color: #ceaaec; /* Highlighted background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
  font-weight: bold; /* Makes text bold */
  transform: scale(1.03); /* Slightly enlarges the active button */
}