.table {
    display: flex;
    padding: 50px auto;
    flex-direction: column;
    width: 100%;
    border: 1px solid #000;
    margin-top: 20px;
  }
  
  .row {
    display: flex;
  }
  
  .cell {
    flex: 1;
    padding: 10px;
    border: 1px solid #000;
    text-align: center;
  }
  
  .header {
    font-weight: bold;
    background-color: #f4f4f4;
  }
  
  /* Styling for date to display month/day horizontally */
  .date {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px; /* Add space between month and day */
  }